@model ATM_lab.Models.Card
@{
    ViewData["Title"] = "Balance";
}

<div class="balance-screen">
    <div class="row balance-text">
        <div class="col-md-6 col-md-offset-3">
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.CardNumber)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.CardNumber)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Balance)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Balance)
                </dd>
                <dt class="col-sm-6">
                    <span> Date </span>
                </dt>
                <dd class="col-sm-6">
                    <span> @DateTime.Today </span>
                </dd>
            </dl>
        </div>
    </div>
</div>
<div class="row text-center op-buttons">
    <div class="op-button col-md-3">
        <a href="@Url.Action("Index", "Operation",
                 new { cardNumber = @Model.CardNumber })" class="btn btn-large btn-block">
            Back
        </a>
    </div>
    <div class="op-button col-md-3">
        <a href="@Url.Action("Index", "Home")" class="btn btn-large btn-block">
            Exit
        </a>
    </div>
</div>

