@model Tuple<ATM_lab.Models.Card, decimal>
@{
    ViewData["Title"]="Receipt" ;
}

<div class="wrapper">
    <div class="receipt">
        <div class="col-md-6">
            <dl class="row">
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Item1.CardNumber)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Item1.CardNumber)
                </dd>
                <dt class="col-sm-6">
                    @Html.DisplayNameFor(model => model.Item1.Balance)
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Item1.Balance)
                </dd>
                <dt class="col-sm-6">
                    <span> Withdrawn amount </span>
                </dt>
                <dd class="col-sm-6">
                    @Html.DisplayFor(model => model.Item2)
                </dd>
                <dt class="col-sm-6">
                    <span> Time </span>
                </dt>
                <dd class="col-sm-6">
                    <span> @DateTime.UtcNow.ToLocalTime() </span>
                </dd>
            </dl>
        </div>
    </div>
</div>
